# ML for climate and Energy (MEC51057)
# Group project: Weather station

**Mentor**:
- Julio

**Students**:
- Dimitri Iratchet
- Fabien Lagnieu
- Tristan Waddington

# Draft for Dimitri

In [7]:
!git clone https://github.com/waddason/ML_ClimateEnergy_project2024/

Cloning into 'ML_ClimateEnergy_project2024'...
remote: Enumerating objects: 186, done.
remote: Counting objects: 100% (120/120), done.
remote: Compressing objects: 100% (111/111), done.
remote: Total 186 (delta 19), reused 105 (delta 9), pack-reused 66 (from 1)
Receiving objects: 100% (186/186), 91.42 MiB | 21.35 MiB/s, done.
Resolving deltas: 100% (24/24), done.
Filtering content: 100% (54/54), 255.44 MiB | 36.01 MiB/s, done.

In [9]:
from ML_ClimateEnergy_project2024.utils import load_normalize_data, load_red_data

## 1. Data loading

### 1.1 Normalized data by city
<div class="alert alert-block alert-warning">
Use the other dataset at first
</div>

In [12]:
X_train, X_test, y_train, y_test = load_normalize_data()

FileNotFoundError: ``/content/data/norm_data`` does not exist

In [ ]:
# Display shapes of the dataframes
print("Shapes of X_train dataframes:")
for key, value in X_train.items():
    print(f"{key}: {value.shape}")

print("\nShapes of X_test dataframes:")
for key, value in X_test.items():
    print(f"{key}: {value.shape}")

print("\nShapes of y_train dataframes:")
for key, value in y_train.items():
    print(f"{key}: {value.shape}")

print("\nShapes of y_test dataframes:")
for key, value in y_test.items():
    print(f"{key}: {value.shape}")

# Display available names of the dataframes
print("\nAvailable names in X_train:", X_train.keys())
print("Available names in X_test:", X_test.keys())
print("Available names in y_train:", y_train.keys())
print("Available names in y_test:", y_test.keys())

Shapes of X_train dataframes:
blh: (315569, 4)
d2m: (315569, 4)
skt: (315569, 4)
sp: (315569, 4)
ssrd: (315569, 4)
t2m: (315569, 4)
tcc: (315569, 4)
tp: (315569, 4)
u10: (315569, 4)
v10: (315569, 4)

Shapes of X_test dataframes:
blh: (35064, 4)
d2m: (35064, 4)
skt: (35064, 4)
sp: (35064, 4)
ssrd: (35064, 4)
t2m: (35064, 4)
tcc: (35064, 4)
tp: (35064, 4)
u10: (35064, 4)
v10: (35064, 4)

Shapes of y_train dataframes:
blh: (315569, 1)
d2m: (315569, 1)
skt: (315569, 1)
sp: (315569, 1)
ssrd: (315569, 1)
t2m: (315569, 1)
tcc: (315569, 1)
tp: (315569, 1)
u10: (315569, 1)
v10: (315569, 1)

Shapes of y_test dataframes:
blh: (35064, 1)
d2m: (35064, 1)
skt: (35064, 1)
sp: (35064, 1)
ssrd: (35064, 1)
t2m: (35064, 1)
tcc: (35064, 1)
tp: (35064, 1)
u10: (35064, 1)
v10: (35064, 1)

Available names in X_train: dict_keys(['blh', 'd2m', 'skt', 'sp', 'ssrd', 't2m', 'tcc', 'tp', 'u10', 'v10'])
Available names in X_test: dict_keys(['blh', 'd2m', 'skt', 'sp', 'ssrd', 't2m', 'tcc', 'tp', 'u10', 'v10'])
Available names in y_train: dict_keys(['blh', 'd2m', 'skt', 'sp', 'ssrd', 't2m', 'tcc', 'tp', 'u10', 'v10'])
Available names in y_test: dict_keys(['blh', 'd2m', 'skt', 'sp', 'ssrd', 't2m', 'tcc', 'tp', 'u10', 'v10'])

In [ ]:
X_train["blh"]

                     marseille     brest    london    berlin
time
1980-01-01 07:00:00  -0.304960 -1.059357 -1.242151 -0.238806
1980-01-01 08:00:00  -0.316641 -1.101772 -1.220804 -0.269736
1980-01-01 09:00:00  -0.221562 -1.113358 -1.179237 -0.221394
1980-01-01 10:00:00   0.065092 -0.956357 -1.079727 -0.246937
1980-01-01 11:00:00   0.367741 -0.869908 -0.953809 -0.291722
...                        ...       ...       ...       ...
2015-12-31 19:00:00  -0.944583 -0.068515  0.634647 -1.061930
2015-12-31 20:00:00  -0.969334 -0.770546  0.879556 -1.099512
2015-12-31 21:00:00  -0.994027 -1.045022  0.538919 -1.114498
2015-12-31 22:00:00  -1.010974 -1.198140  0.020614 -1.125467
2015-12-31 23:00:00  -1.040636 -1.505072 -0.353410 -1.138196

[315569 rows x 4 columns]

### 1.2 Resample Daily data (TO USE)
<div class="alert alert-block alert-info">
<b> Prefer this dataset at first </b>
</div>

In [ ]:
X_train, X_test, X_val, y_train, y_test, y_val = load_red_data()
print(
    f"Shapes: \nX_train: {X_train.shape}, X_test: {X_test.shape}, X_val: {X_val.shape}\n"
    f"y_train: {y_train.shape}, y_test: {y_test.shape}, y_val: {y_val.shape}"
)

Shapes:
X_train: (3287, 40), X_test: (1096, 40), X_val: (365, 40)
y_train: (3287, 10), y_test: (1096, 10), y_val: (365, 10)

## 2. Model instantiation